* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Anton", sans-serif;
}

.navbar-links {
  color: whitesmoke;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: #1e1e1e;
  position: fixed;
  left: -100%;
  width: 8%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  gap: 70px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar header {
  color: whitesmoke;
  background: #0000ff;
}

.navbar-links i {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10%;
  font-size: 20px;
}

.navbar-links span {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.45);
}

.navbar img {
  margin-left: 5px;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.navbar-button {
  color: #0000ff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 50px;
  background: #1e1e1e;
  border: none;
  outline: none;
  padding-right: 30px;
  padding-top: 40px;
}

.navbar h3 {
  font-size: 17px;
}

.navbar h4 {
  font-size: 20px;
}

.my-profile {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.my-profile header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 50px;
  padding-bottom: 20px;
}

h3 {
  text-align: center;
  color: #f0f8ff;
  padding: 10px;
  padding-top: 10px;
  font-size: 30px;
}

h4 {
  text-align: center;
  color: whitesmoke;
  padding-bottom: 20px;
  font-size: 30px;
}

h5 {
  text-align: center;
  margin-bottom: 50px;
  color: aliceblue;
  padding: 10px;
  padding-bottom: 10px;
}

.my-profile img {
  width: 600px;
  height: 700px;
  border-radius: 100%;
  margin-left: 200px;
  margin-right: 100px;
  border: blue solid 10px;
  box-shadow: rgba(255, 255, 255, 255) 0px 0px 5px 0px;
}

.my-profile img:hover {
  padding: 2px;
}

.landing {
  height: 100vh;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: transparent;
  border-radius: 50px;
  border: 5px solid #0000ff;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 50px;
  margin: 10px;
  font-weight: bolder;
}

.btns {
  display: flex;
}

#About {
  background-color: #1e1e1e;
  height: 100vh;
  color: whitesmoke;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  padding-top: 50px;
}

.timeline-container {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  margin-top: 5%;
  padding: 30px;
}

.timeline-items {
  width: 50vh;
  height: 30vh;
  font-size: 23px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  margin-bottom: 50px;
}

.timeline-items span {
  display: block;
}

.Line {
  width: 10px;
  height: 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background: rgb(0, 17, 255);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.item-1 {
  grid-column: 1;
  grid-row: 1;
}

.item-2 {
  grid-column: 3;
  grid-row: 1;
}

.item-3 {
  grid-column: 1;
  grid-row: 2;
}

.item-4 {
  grid-column: 3;
  grid-row: 2;
}

@media screen and (max-width: 800px) {
  .Timeline-container {
    grid-template-columns: 10% 1fr;
  }

  .line {
    grid-column-start: 2;
  }

  .timeline-item {
    grid-column: 2;
  }
}

#Work {
  background-color: #1e1e1e;
  height: 100vh;
  color: whitesmoke;
  /* display: grid;
  place-items: center; */
}

.work-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 10px 100px;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 1; */
  text-align: center;
}

.work-container-heading {
  font-size: 50px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  /* margin-bottom: 0px; */
}

.work-container span {
  display: grid;
  flex-direction: column;
  font-size: 10px;
}

.work {
  width: 80%;
  margin: auto;
  max-width: 450px;
}

.soft {
  /* margin: 0px 0px 20px 20px; */
  font-size: 50px;
  height: 40vh;
  width: 50vh;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.soft span {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.soft h5 {
  color: #0000ff;
  font-size: 30px;
  margin-bottom: 20px;
}

.work-container .education {
  font-size: 50px;
  /* margin-right: 5%; */
  height: 40vh;
  width: 50vh;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.education h5 {
  color: #0000ff;
  font-size: 30px;
  margin-bottom: 20px;
}

.education span {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.work-container .soft {
  grid-column: 1;
  grid-row: 1;
}

/* .work-container .education {
  grid-column: 3;
  grid-row: 1;
}

.work-container .skills {
  grid-column: 2;
  grid-row: 1;
} */

.work-container .skills {
  font-size: 50px;
  height: 40vh;
  width: 50vh;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.skills h5 {
  color: #0000ff;
  font-size: 30px;
  margin-bottom: 20px;
}

.skills span {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

#Projects {
  background-color: #1e1e1e;
  height: 100vh;
  color: whitesmoke;
  padding-top: 100px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 10px 0 whitesmoke;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5% 10%;
  width: 70vw;
  margin-left: 15vw;
}

.card-container-heading {
  font-size: 300%;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.card {
  width: 20%;
  margin: 5%;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
  padding: 1%;
}

.card-details {
  color: #0000ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.card-buttons {
  display: flex;
}

.button {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: black;
  text-decoration: none;
  padding: 10px 30px;
  transition: all 0.3s linear;
  width: 50%;
  margin-right: 1%;
}

.button:hover {
  font-size: 1.1em;
  background: blue;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.card-heading,
.card-subtitle,
.card-description,
.card-buttons {
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .card {
    width: 100%;
  }
}

#Testimonials {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1e1e1e;
  height: 100vh;
  color: whitesmoke;
}

.testimonials-heading {
  font-size: 300%;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

#Testimonials h4 {
  color: #0000ff;
}

.owl-carousel {
  width: 50%;
  height: 100%;
  margin: auto;
}

.inner {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  height: 50%;
  padding: 10px;
}

.image img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  margin-bottom: 20px;
  max-width: 150px;
  max-height: 150px;
  margin: auto;
}

.inner q {
  font-size: 30px;
}

#Contact {
  background-color: #1e1e1e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

label {
  display: none;
}

#form .contact-input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vh;
  height: 70vh;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 10%;
}

h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 10%;
  color: #0000ff;
}
.contact-bar {
  margin-bottom: 10%;
  width: 50vh;
  height: 50px;
  display: flex;
  text-align: center;
}

.contact-button {
  min-width: 50%;
  height: 10%;
}

.contact-message {
  display: grid;
  text-align: center;
  margin-bottom: 20%;
  margin-right: 30px;
  width: 150%;
  height: 100px;
}

.footer {
  background-color: #1e1e1e;
  height: 100vh;
  color: whitesmoke;
  display: flex;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.phone {
  padding-bottom: 10%;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
}

.email {
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
}

.address {
  display: flex;
  flex-direction: column;
}
